@import "variable";
@import "~/node_modules/bootstrap/scss/bootstrap";
@import "./icons/font-awesome/css/font-awesome.min.css";
@import "./icons/themify-icons/themify-icons.css";
@import "_elements.scss";
@import "_app.scss";
@import "_common.scss";
@import "_responsive.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100vw;

  .main {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 70vh;
  }
}

.blue-eye {
  position: relative;
  .gooey {
    position: absolute;
    right: 38%;
    top: 50%;
    margin: 0 auto;
    filter: blur(10px) contrast(5);
    animation: float_2979 3s linear infinite;
    transform-origin: 50% 50%;
    .circle {
      position: absolute;
      top: 0;
      margin: auto;
      background: #8080ff;
      border-radius: 50%;
      opacity: 1;

      &:hover {
        background: #8e8eff;
      }
    }

    @keyframes float_2979 {
      0% {
        transform: translateY(0);
      }
      33.33333% {
        transform: translateY(-12px);
      }
      66.66667% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(0);
      }
    }

    .circle:first-child {
      left: 20%;
      top: 0%;
      width: 100px;
      height: 60px;
    }

    .circle:nth-child(2) {
      left: 26%;
      top: 0%;
      width: 100px;
      height: 60px;
    }

    .circle:first-child:hover {
      animation: move1 1s linear 0.2s infinite;
    }

    .circle:nth-child(2):hover {
      animation: move2 1.5s linear 0.2s infinite;
    }

    @keyframes move2 {
      0% {
        transform: translateX(0px);
      }
      20% {
        transform: translate(20px, 30px) scale(1.2 0.5);
      }
      50% {
        transform: translateY(100px) scale(0.6, 0.6) rotateY(20deg);
      }
      80% {
        transform: translateY(150px) scale(0.6, 0.6) rotateY(50deg);
      }
      100% {
        transform: translateY(200px) scale(0.6, 0.6) rotateY(90deg);
      }
    }
  }
}

#splash {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: #fff;
  text-align: center;
  color: #fff;
}

#splash_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#splash_logo img {
  width: 260px;
}

.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
